body {
  font-family: "Poppins", sans-serif;
  background-size: cover;
  min-height: 100vh;
  background: #fff;
      font-size: 14px;
}
a{text-decoration:none}
.card-header {
    padding: 6px 10px;
}
.container-fluid {
  max-width: 1480px;
}

.btn-primary {
background: #6b2404;
    border-color: #e5ae95;
    border-radius: 0px;
    color: #d4c291;
}

.btn-primary:hover {
  background: #002b45;
  border-color: #002b45;
  border-radius: none;
}

.bg-primary {
  background: #0c874a !important;
}

.bg_nav {
  background: linear-gradient(to right, #a91408, #161557);
  /* background: linear-gradient(284deg, rgba(16, 66, 131, 1) 0%, rgba(34, 174, 135, 1) 100%) !important; */
  border-bottom: thin solid #05050593;
}

header {
  /* background: linear-gradient(284deg, rgb(8, 126, 114) 0%, rgb(11, 39, 81)100%); */
  box-shadow: 0px 1px 5px #bdb6b6;
}
.logo {
  padding: 0px 0px;

  background-size: 100% 100%;
  display: flex;
    align-items: center;
}

.logo-container {
  display: block;
}

.border-right {
  border-right: 2px solid #888 !important;
}

.logo img {
  float: left;
  margin-right: 8px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;

  
}

.logo h1 {
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
  color: #1c0652;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.logo h1 span {
  display: block;
  font-weight: bold;
  color: #6b2404;
  font-size: 25px;
}

.logo P {
  font-size: 14px;
  color: #888;
  float: none;
}
 
.sidebar-menu{ background: #6b2404;}
.homepage .carousel-caption{ background: #000000a8;
    padding: 5px;}
.comunities .carousel-caption {
position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: #fff;
    text-align: center;
    background: #000;
    width: 100%;
	    padding: 0;
}

.carousel-inner .carousel-caption h2 {
  font-weight: 100;
  font-size: 40px;
  text-shadow: 0px 2px 2px #000;
}

.carousel-inner .carousel-caption h2 span {
  font-weight: 800;
  font-size: 45px;
}

.top-bar .search-inp{height: 30px;
    border-radius: 0;
    width: 200px;
    margin-left: 15px;}
.top-bar .search-btn{font-size: 14px;}

.top-bar {
  background: #eee;
  color: #000;
   
  line-height: 22px;
}

.top-bar p {
  margin: 0px;
  font-weight: bold;
}

.top-bar a {
  color: #6b2404;
  border-right: thin solid rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
  font-size: 16px;
}

.top-bar button {
  background: #6b2404;
  color: #fff;
  border: none;
  padding: 3px 10px;
  margin-left: 1px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #000;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 15rem;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: #500d0d;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  padding: 0px;
}

.dropdown-menu .dropdown-item {
  color: #fff;
  padding: 8px 15px;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  color: #16181b !important;
  text-decoration: none;
  background-color: #ff5f31;
}

ul.liststyles {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.liststyles li {
  margin-bottom: 10px;
  text-align: justify;
  padding-bottom: 10px;
  padding-left: 30px;
  background: url("img/listicon.png") no-repeat left top;
  background-size: 2%;
  background-position-y: 5px;
  border-bottom: 1px dotted #4e9a46;
}

ul.liststyles li a {
  color: #16181b;
}

.footer {
  background: #3b1605;
  color: rgba(255, 255, 255, 0.5);
  padding: 50px 0px 20px;
    font-size: 14px;
}

.footer h5 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.footer ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

footer ul li {
  padding: 3px 0px;
  border-bottom: thin dotted rgba(255, 255, 255, 0.1);
}

.footer ul li a {
  color: #d4c291;
}

.footer img {
  width: 80px;
}

.footer .small-img img {
  height: 50px;
}

footer .border-top {
  border-top: thin solid rgb(212 194 145 / 21%) !important;
}

.footer .border-top img {
  height: 30px;
  width: 206px;
}
.footer-address{color:#d4c291}
.footer-wrap {
  display: flex;
}

.footer-logo {
  float: left;
  display: block;
  margin-right: 10px;
}
 

.footer li a img {
  width:20px;
  margin-right:5px;
}
.btn-success {
  background: #087c21;
  border-color: #087c21;
  color: #000;
  font-weight: bold;
}

.profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  padding: 5px 5px;
  align-items: center;
  text-align: center;
}

.profiles img {
    height: 60px;
    margin-right: 10px;
    
    border: solid 1px #ccc;
    padding: 1px;
    border-radius: 50px;
}

.profiles h2 {
  font-size: 13px;
  color: #ad9b6c;
  letter-spacing: 0px;
  line-height: 1.3;
  text-align: left;
  font-weight: 600;
  margin: 0px;
}

.profiles p {
  font-weight: normal;
  display: block;
  font-size: 11px;
  padding: 0px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.8);
}
   
.carousel-inner {
  height: 354px;
}

 
section{
	padding:20px 0;
}
 
.vission-wrap{ 
    text-align: center;}
.vission-wrap   h3{
	font-size: 20px;
line-height: 1.5;}
.vission-wrap .icon-wrap{
width: 80px;
    height: 80px;
    margin: 12px auto;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
	border: solid 3px #c5d3d8;
}
.vission-wrap .icon-wrap img{width: 60px;
    height: auto;}
#content-wrapper{
	background: #f7f7f77d;
    border-right: solid 1px #e8e8e8;
}
#wrapper li {
    list-style: none;
    position: relative;
    min-height: 60px;
}
#wrapper li  a {
    color: #d4c291;
}
#wrapper li:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
}
#wrapper li:before {
    content: "";
    height: 100%;
    border-left: 2px solid  #6c6c6c;
    position: absolute;
    left: -50px;
}
#wrapper span {
    display: block;
    min-width: 150px;
    padding: 5px 10px;
    line-height: 20px;
    text-align: center;
    border: 2px solid  #6c6c6c;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    width: 250px;
    background: #373737;
}
#wrapper{
	margin-left: 50px;
}
#wrapper li:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0;
}
#wrapper li:after {
    content: "";
    width: 50px;
    border-top: 2px solid  #6c6c6c;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
}	#wrapper ul {
    position: relative;
    margin-left: 348px;padding-left: 0;
}
#wrapper ul:before {
    content: "";
    width: 50px;
    border-top: 2px solid  #6c6c6c;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: 1px;
}#wrapper li:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
}#wrapper li:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid  #6c6c6c;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
}
.innertitle{text-align: center;
    border-bottom: solid 1px #dad7d7;
    padding-top: 12px;
    margin-bottom: 20px;}
.innertitle h2{color: #6b2404;
    font-size: 24px;
    padding: 5px 10px;}
.card-header {
padding: 20px 15px;
    background: #6b2404;
    color: #d4c291;
}.card-header p {
    padding-left: 15px;
    border-left: solid 2px #fff;
    margin: 0;margin-left: 20px;
}
#formD .from-group {
    padding: 5px 5px;
    align-items: center;
}
#formD .from-group:nth-child(even) {
    background: #ece9e1;
}
@media (max-width: 740px) {
  .top-bar .social-icons a {
    color: white;
  }
  .top-bar a {
    color: #6b2404;
    border-right: thin solid rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    font-size: 14px;
  }

  .justify-content-end {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .logo {
    display: block;
  }
  .logo img {
    float: left;
    margin-right: 8px;
    height: 57px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .logo h1 {
    font-size: 11px;
    font-weight: bold;
    padding-top: 15px;
    color: #1c0652;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  .logo h1 span {
    display: block;
    font-weight: bold;
    color: #f06129;
    font-size: 16px;
  }

  .profiles h2 {
    font-size: 10px;
    color: #d06700;
    letter-spacing: 0px;
    line-height: 1.3;
    text-align: left;
    font-weight: 600;
    margin: 0px;
  }
  .profiles p {
    font-weight: normal;
    display: block;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.8);
  }

  .carousel-inner {
    height: auto;
  }

  .center {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
  }
  .translation-links{text-align:center}
  .carousel-caption h2{font-size: 16px;}
  .top-bar .search-inp {
    height: 24px;
    border-radius: 0;
    width: 120px;
    margin-left: 2px;
	}
	.top-bar button {
    background: #6b2404;
    color: #fff;
    border: none;
    padding: 1px 6px;
    margin-left: 1px;
    font-size: 10px;
    height: 24px;
	}
	.top-bar .search-btn {
    font-size: 11px;
}
}


.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}


.p-panelmenu-panel {
  padding:10px 0px !important;
border-bottom:thin solid rgba(244,255,255,0.3)
}

.p-panelmenu-panel a{
 color:white;
 
}
.p-panelmenu-panel ul {
  list-style-type: none;
  padding:0px;
  margin-top:10px;
}
.p-menuitem-icon {
  margin-right: 10px;
  font-size: 10px;
}
.p-icon {
  float:right;
  margin-right:15px;
}

.p-menuitem {
  padding:10px 10px;
  background:rgba(0,0,0,0.5);
  border-bottom:thin solid rgba(255,255,255,0.3);
}