body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.p-panelmenu-panel {
  padding:10px 0px !important;
border-bottom:thin solid rgba(244,255,255,0.3)
}

.p-panelmenu-panel a{
 color:white;
 
}
.p-panelmenu-panel ul {
  list-style-type: none;
  padding:0px;
  margin-top:10px;
}
.p-menuitem-icon {
  margin-right: 10px;
  font-size: 10px;
}
.p-icon {
  float:right;
  margin-right:15px;
}

.p-menuitem {
  padding:10px 10px;
  background:rgba(0,0,0,0.5);
  border-bottom:thin solid rgba(255,255,255,0.3);
}